body {
  width: 400px;
  height: 400px;

  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  p {
    margin: 8px 0px;
  }
  .main-content-container {
    display: flex;
    flex-direction: column;
    margin: 0px 1rem;
    height: 100%;
    h2 {
      text-align: center;
      margin: 10px 0px;
    }
    .from-native-container {
      height: 80%;
      display: flex;
      flex-direction: column;
      #from-native-text {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        resize: none;
      }
    }
    .to-native-container {
      .to-native-send {
        display: flex;
      }
      input {
        width: 100%;
      }
    }
  }
}